.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}


.navbar a {
    font-size: 12px;
    text-decoration: solid;
    color: black;
    padding: 40px;
    font-weight: 600;
}


.signin {
    margin-left: 50px;
    width: 100px;
    height: 32px;
    border: 1;
    background-color: rgb(251, 252, 253);
    color: #0850F8;
    border-color: white;
    line-height: 1.3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 3px;
}

.tryitfree {
    margin-left: -70px;
    width: 100px;
    height: 30px;
    border: 1;
    background-color: #0850F8;
    color: white;
    border-color: #0850F8;
    line-height: 1.3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 3px;
}

.row-1 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.column-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.focus {
    padding: 100px;
    display: flex;
    align-items: center
}

.subscription {
    font-weight: ;
    color: gray;
}

.sub- {
    color: rgb(168, 162, 162);
}


.chatwithus {
    justify-content: center;

    border: 1;
    padding: auto;
    margin: auto;
    background-color: rgb(251, 252, 253);
    color: #0850F8;
    border-color: white;
    line-height: 2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 3px;

}

.signupfree {

    margin: auto;
    justify-content: center;
    border: 1;
    padding: auto;
    background-color: #0850F8;
    color: white;
    border-color: #0850F8;
    line-height: 2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 3px;
}

.commentemo {
    height: 40px;
}

.alreadyusing {
    color: gray;
    font-weight: 400px;
    margin: 0;
}


.free14 {
    font-size: small;
}

.bluebullet {
    height: 10px;
}

.row-1-column-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.focus-on {
    font-size: 50px;
}

.sub- {
    font-size: 18px;
}

.alreadyusing {
    padding: 30px;
    margin: 10px;

}

.let-us-handle {
    font-size: 30px;
}

.greyline {
    margin: auto;
    display: flex;
    justify-content: center;
    color: gray;
}

.row-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.starttoexplore {
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin: 20px;

}

.anewbie {
    font-size: 15px;
    margin: 20px;
}


.keeptrackofinternal {
    margin: -10px;
    display: flex;
    justify-content: center;

}


.Bitcoin {
    display: flex;
    justify-content: center;
    align-items: center;

}

.bitbut {
    width: 120px;
    margin: auto;
    border: 1;
    padding: auto;
    background-color: #0850F8;
    color: white;
    border-color: #0850F8;
    line-height: 3.3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 3px;
}

.bitsize {
    height: 100px;
}

.retain {
    width: 120px;
    height: 155px;
    border: 1;
    padding: auto;
    margin: auto;
    background-color: rgb(251, 252, 253);
    color: black;
    border-color: white;
    line-height: 3.3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 3px;
}

.myspaceguy {
    width: 120px;
    height: 155px;
    border: 1;
    padding: auto;
    margin: auto;
    background-color: rgb(251, 252, 253);
    color: black;
    border-color: white;
    line-height: 3.3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 3px;
}

.liness {
    width: 120px;
    height: 155px;
    border: 1;
    padding: auto;
    margin: auto;
    background-color: rgb(251, 252, 253);
    color: black;
    border-color: white;
    line-height: 3.3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 3px;
}

.Bitcoin {}

.creditcardguy {

    border-radius: 10px;
    box-shadow: inset 2px 2px 3px;
    border-color: #0850F8;
}

.creditdude {
    border-radius: 10px;
    box-shadow: inset 2px 2px 3px;
    border-color: #0850F8;
    height: 300px;
    width: 350px;
}

.row-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px box-shadow: inset 2px 2px 3px;
    ;
    margin: 60px;
    padding: 76px;
    border-color: black;
}

.learn {
    background-color: #0850F8;
    width: 300px;
    border: 2;
    padding 10px;
    background-color: #0850F8;
    color: white;
    border-color: white;
    line-height: 3.3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 3px;
}

.bluestartbox {
    background-color: #0850F8;
    color: white;
    font-size: smaller;
    border-radius: 10px;
    box-shadow: inset 2px 2px 3px;
    padding: 20px;
    border-color: black;
}

.strtaccepting h1 {
    font-size: 30px;
}

.bluestartbox h4 {
    font-size: 20px;
}

.bluestartbox h5 {
    font-size: 16px;
}

.creditdubordr {}

.row-5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-5 h1 {
    font-size: 30px;
}

.row-5 h2 {
    font-size: 30px;
}

.row-5 h4 {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.sol h1 {
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.fantastic4 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    margin: auto;
    padding: auto;
}

.learn-more {
    ;
    margin: 1px;
    width: 200px;
    height: 40px;
    border: 1;
    padding: 3px;
    background-color: white;
    color: black;
    border-color: white;
    line-height: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 3px;
}

.final-stretch {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #0850F8;
    color: white;


}

.getstarted {
    display: flex;
    background-color: #0850F8;
    color: white;
    display: flex;
    justify-content: center;
}

.Get-Started {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: auto;
    border: 1;
    padding: auto;
    background-color: #7FD126;
    color: white;
    border-color: white;
    line-height: 2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 21px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 3px;
}

.lastbuttons {
    display: flex;
    margin: -20px;

}

.bluemesa {
    height: 50px;
    width: 200px;
    margin: auto;
    border: 1;
    padding: auto;
    background-color: white;
    color:#0850F8;
    border-color: white;
    line-height: 2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 21px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 3px;
}

.bluemes {
    height: 37px;

}

.finalwords {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0850F8;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}